@using Employee.Web.Models;
@model EmployeeDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Employee.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="~/js/insertmodelview.js"></script>
    <script src="~/js/Common.js" asp-append-version="true"></script>
    <script src="~/js/ModelValidation.js"></script>
</head>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<body>
    <div class="modal modal-xl fade" tabindex="-1" id="myModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@(Model != null ? "Update" : "Add") Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body rounded-circle" style="background-color:lightblue">
                    <form id="employeeForm" method="post" action="Insert" enctype="multipart/form-data">
                        <div class="border p-3 mt-4">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.FirstName)
                                        </div>
                                        <div class="col-9">
                                            @Html.TextBoxFor(m => m.FirstName)
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.LastName)
                                        </div>
                                        <div class="col-9">
                                            @Html.TextBoxFor(m => m.LastName)
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3 mt-2">
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.Email)
                                        </div>
                                        <div class="col-9">
                                            @Html.TextBoxFor(m => m.Email)
                                            @Html.ValidationMessageFor(m => m.Email, "", new { type = "email" , @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.Gender)
                                        </div>
                                        <div class="col-9">
                                            @Html.RadioButtonFor(m => m.Gender,"Male") Male
                                            @Html.RadioButtonFor(m => m.Gender,"Female") Female
                                            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3 mt-2">
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.DOB)
                                        </div>
                                        <div class="col-9">
                                            @Html.EditorFor(m => m.DOB )
                                            @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.JoiningDate)
                                        </div>
                                        <div class="col-9">
                                            @Html.EditorFor(m => m.JoiningDate)
                                            @Html.ValidationMessageFor(m => m.JoiningDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3 mt-2">
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.Designation)
                                        </div>
                                        <div class="col-9">
                                            @Html.DropDownListFor(m => m.Designation,new SelectList(Enum.GetValues(typeof(Designation))),"Select Designation")
                                            @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.Image)
                                        </div>
                                        <div class="col-9">
                                            @Html.TextBoxFor(m => m.Image ,new {type="file",@id="fImage"})</br>
                                            @if (Model != null)
                                            {
                                                <img id="previewImage" src="~/uploads/@Model.Image" alt="Profile photo" height="100px" width="100px">
                                            }
                                            else
                                            {
                                                <img id="previewImage" src="#" alt="Profile photo" height="100px" width="100px">
                                            }
                                            @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3 mt-2">
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            <label for="dlSkill">Skill</label>
                                        </div>
                                        <div class="col-9">
                                            @Html.HiddenFor(m => m.SkillName)
                                            <input type="text" id="txtSkill">
                                            <button type="button" id="btnAdd" class="p-2">Add</button>
                                            <ul id="skillAdded">
                                                @if (Model != null)
                                                {
                                                    @foreach (var item in Model.Skills)
                                                    {
                                                        <script>updateSkills(`@item`)</script>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row g-3">
                                        <div class="col-3">
                                            @Html.LabelFor(m => m.Description)
                                        </div>
                                        <div class="col-9">
                                            @Html.TextAreaFor(m => m.Description)
                                            @Html.ValidationMessageFor(m => m.Description,"", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                @if (Model != null)
                                {
                                    <button id="btnSave" type="button" class="btn btn-info" onclick="Upsert('/employee/UpsertModel/@(Model != null?Model.Id:null)')">Save</button>
                                }
                                else
                                {
                                    <button id="btnSave" type="button" class="btn btn-info" onclick="Upsert('/employee/UpsertModel')">Save</button>
                                }
                                <button type="button" class="btn btn-outline-secondary mx-2" data-bs-dismiss="modal" aria-label="Close">Back To List</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>